@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProgramlamaveTeknolojiForum.Models.KonuModel
@{
}


<!--Konular-->
<div class="konu">
    <br><br>
    <h2>Soru-Cevap</h2>
    <br><br>
   <table>
        <ul>
            @foreach (var item in Model.Konular)
            {
                <li>
                    <img style="border-radius: 50%; width: 5%; margin-top: 1% ;" src="img/indir.png">
                    <a href="sorucevap.html"> <h1>@item.PostBaslik</h1></a>
                    <a>@item.Icerik</a>
                    <label for="">Konu</label>
                    <i class="fa-regular fa-comment" style=" margin-top: 0%; float: right; color: #3575c9;"> <a style="color: #3575c9;">@item.GoruntulenmeSayi</a> </i>
                    <i class="fa-regular fa-eye" style=" margin-top: 0%; float: right; color: #3575c9;"> <a style="color: #3575c9;">@(item.YorumSayi.ToString() + "K")></i>
                </li>

            }







        </ul>

    </table>



</div>

<div class="sagtaraf">
    <div>
        <button onclick="openPopup()" type="submit" href="" class=" btn-1"><b>Yeni Konu Aç</b> </button>

        <button onclick="openPopup()" type="submit" href="" class=" btn-2"><b>Soru-Cevap</b> </button>



        <div class="popup" id="popup">
            <div class="popup-content">
                <div class="konuacbaslık">
                    <br>
                    <h2><i class="fa-regular fa-pen-to-square fa-lg" style="color: #ffffff;"></i>  Konu Aç</h2>
                </div>
                <br>

                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>

                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>
                <br>
                <button> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> <a href="konuacma.html">Yazılım</a></button>


            </div>
        </div>

        <script>

            function openPopup() {
                document.getElementById("popup").style.display = "block";
            }

            function closePopup() {
                document.getElementById("popup").style.display = "none";
            }


            // Kullanıcı pop-up dışına tıklarsa kapansın
            window.onclick = function(event) {
                let popup = document.getElementById("popup");
                if (event.target == popup) {
                    popup.style.display = "none";
                }
            }
        </script>

    </div>

    <div class="search-container">
        <button class="search-button" onclick="search()">
            <img src="https://cdn-icons-png.flaticon.com/512/482/482631.png" alt="Ara">
        </button>
        <input type="text" id="search-box" placeholder="Forumda Ara">
    </div>
    <script>
        function search() {
            let query = document.getElementById("search-box").value;
            if(query) {
                window.location.href = "https://www.google.com/search?q=" + encodeURIComponent(query);
            }
        }
    </script>
    <br><br><br>
    <div class="kategori">

        <a> <i class="fa-solid fa-code" style="color: #63E6BE;"></i> Yazılım</a>
        <br>
        <a> Programlama</a>
        <br>
        <a>
            <i class="fa-solid fa-mobile" style="color: #51a7d2;"></i> Mobil</label>
            <br><br>
            <a>Donanım</a>
            <br>
            <a>C#</a>
            <br>
            <a>Java</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>
            <br>
            <a>Html</a>

            <br>
            <a>Makale</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>