@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Navbar-->
<nav class="navbar">
    <img style=" margin-left: 20%; width: 13%;" src="img/aaaa-Photoroom.png" alt="">




    <button style="margin-right: 25%; " onclick="openModal('loginModal')">Giriş Yap</button>
    <button onclick="openModal('registerModal')">Kayıt Ol</button>



    <div id="loginModal" class="modal">
        <div class="modal-content">

            <span class="close" onclick="closeModal('loginModal')">&times;</span>

            <h2>Giriş Yap</h2>
            <br><br><br><br><br><br><br><br>
            <input type="text" placeholder="Kullanıcı Adı veya E-postra"><br><br>
            <input type="password" placeholder="Şifre"><br><br>
            <button>Giriş Yap</button>
            <div class="google-login">
                <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google">

            </div>
        </div>
    </div>

    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('registerModal')">&times;</span>
            <h2>Kayıt Ol</h2>
            <br><br><br><br><br><br><br><br>
            <input type="text" placeholder="Kullanıcı Adı"><br><br>
            <input type="email" placeholder="E-posta"><br><br>
            <input type="password" placeholder="Şifre"><br><br>
            <button>Kayıt Ol</button>
            <div class="google-login">
                <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google">

            </div>
        </div>
    </div>

    <script>
        function openModal(id) {
            document.getElementById(id).style.display = 'block';
        }
        function closeModal(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>
</nav>
<!--Navbar-->
<!--Banner-->

<div>
    <img style="width: 100%;" src="img/banner_image.png" alt="">
</div>
<!--Banner-->