body{
    
    background-color:rgb(20,25,31);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.navbar{
    /*background: linear-gradient(270deg,rgba(223, 206, 206, 0.864), rgba(42, 41, 41, 0.864));*/
    
    margin-top: auto;
        height: 5vh;
        width: 100%;
        color: white;
        align-items: center;
        flex-direction: inherit;
        justify-content: space-around;
        border-bottom: 1px solid rgb(255, 255, 255);
        
}

.navbar h2{
    color: rgb(250, 244, 244);
    margin-left: 20%;
    
}
.navbar a{
    float: right;
    margin-right: 25%;
    text-decoration: none;
    color: rgb(82, 102, 128);
    margin-top: 1%;
    display: flex;
}




.konu{
   
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 20%;

}
.konu li{
    width: 100%;
    height: 13vh;
    list-style-type:none;
margin-left: 0px;    
}


.konu h1{
    font-size: large;
    color: white;
   margin-left: 8%;
   margin-top:-5%;
    

}

.konu a{
    font-size: medium;
    color: rgb(56, 71, 90);
    margin-left: 8%;
}


.sagtaraf{
    margin-left: 68%;
    border: 0px solid white;
    height: 1100px;
    margin-top: -62.5%;
    margin-right: 22%;
    text-align: left;
   
    
    
    
}

.btn-1{
    background-color: rgb(12, 109, 236);
    border: 0px;
    width: 100%;
    padding: 4%;
    border-radius: 7px;
    

}
.sagtaraf a{
    color: whitesmoke;
}

.kategori{
    display: grid;

}
.kategori a{
    color:rgb(82, 102, 128) ;
}

#loginPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    margin: 10px 0;
    padding: 5px;
  }